@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base
{
    .z-60{
        z-index: 60;
    }
}

@layer components {

    .toggle-checkbox:checked {
        @apply: right-0 border-green-400;
        right: 0;
        border-color: #888686;
        background-color: #888686;
    }

    .toggle-checkbox:checked:hover,
    .toggle-checkbox:checked:focus {
        background-color: #727171;
    }

    .toggle-checkbox:checked + .toggle-label {
        @apply: bg-green-400;
        background-color: #dbdbdb;
    }

    .facebook{
        background-color: #1877f2;
    }
    .whatsapp{
        background-color: #25d366;
    }
    .twitter{
        background-color: #1da1f2;
    }

}
